body{ 
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

}

.backgroundimage-setup{
    background-image: url(/images/hands-close.jpg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
}
.Home-page-setup{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 300px;
    
}
.Home-page-setup h1{
    font-size: xxx-large;
    font-family: sans-serif;
    font-weight: 900;
    color: azure;
}
.Home-page-setup p{
    color: aquamarine;
    font-weight: 200;
    padding-bottom: 20px;
}
.donate-button{
    text-decoration: none;
    padding: 10px 10px;
    color: azure;
    background-color: brown;
    border-radius: 1rem;
}